In [1]:
import pandas as pd
import networkx as nx

In [2]:
df = pd.read_csv('wiki-topcats-reduced.txt', sep='\t', header = None)
df.columns = ['from', 'to']

In [3]:
df

            from       to
0             52   401135
1             52  1069112
2             52  1163551
3             62    12162
4             62   167659
5             62   279122
6             62  1089199
7             62  1354553
8             62  1400636
9             62  1403619
10            62  1537692
11            62  1544420
12            64    64873
13            66   279122
14            66  1163290
15            74   279122
16            95  1179478
17            95  1185516
18            95  1185519
19            95  1230865
20           103      107
21           104      107
22           104  1174251
23           104  1174302
24           105  1174967
25           107      104
26           107   142167
27           107   657930
28           107  1013995
29           107  1061780
...          ...      ...
2645217  1790894   962114
2645218  1790897   362517
2645219  1790898   362517
2645220  1790898  1790901
2645221  1790899   362517
2645222  1790901   362517
2645223  1790903     7765
2645224  1790903   279122
2645225  1790903   362517
2645226  1790904   362517
2645227  1791431   279122
2645228  1791431   330401
2645229  1791431  1093693
2645230  1791431  1104767
2645231  1791442  1457593
2645232  1791451  1457593
2645233  1791458   279122
2645234  1791458  1538056
2645235  1791478  1457593
2645236  1791481  1030766
2645237  1791481  1058951
2645238  1791481  1060990
2645239  1791481  1061382
2645240  1791481  1110380
2645241  1791482    80740
2645242  1791484   235100
2645243  1791486    81952
2645244  1791488  1495519
2645245  1791488  1496048
2645246  1791488  1498126

[2645247 rows x 2 columns]

In [50]:
#vertexes
fr = df.groupby('from').count()
to = df.groupby('to').count()
V = set(list(fr.index) + list(to.index))
print('Number of nodes = ', len(V))

Number of nodes =  461193

In [257]:
#directed cause these two are different
print(df[df['from'] ==52])
print(df[df['from'] ==401135])

   from       to
0    52   401135
1    52  1069112
2    52  1163551
          from       to
361754  401135    60219
361755  401135   167532
361756  401135   400980
361757  401135   401018
361758  401135   401019
361759  401135   401053
361760  401135   401067
361761  401135   401137
361762  401135   401154
361763  401135   401171
361764  401135   401184
361765  401135   401227
361766  401135   401231
361767  401135   401295
361768  401135   401310
361769  401135   401315
361770  401135   401457
361771  401135   401474
361772  401135   401505
361773  401135   401609
361774  401135   401628
361775  401135   401975
361776  401135   401981
361777  401135   402265
361778  401135   402300
361779  401135   402715
361780  401135   402718
361781  401135   447882
361782  401135   595633
361783  401135   606279
...        ...      ...
361786  401135   724192
361787  401135   776478
361788  401135   809904
361789  401135   810461
361790  401135   824998
361791  401135   827334
361792  401135   946986
361793  401135   961942
361794  401135  1058269
361795  401135  1060341
361796  401135  1061728
361797  401135  1061824
361798  401135  1061885
361799  401135  1061905
361800  401135  1062323
361801  401135  1062938
361802  401135  1161659
361803  401135  1163338
361804  401135  1163407
361805  401135  1163551
361806  401135  1163806
361807  401135  1169888
361808  401135  1184217
361809  401135  1184538
361810  401135  1245651
361811  401135  1288076
361812  401135  1288276
361813  401135  1394526
361814  401135  1399606
361815  401135  1571179

[62 rows x 2 columns]

In [167]:
print('number of edges: ',len(df.index))

number of edges:  2645247

In [49]:
d = df.groupby('to').count()
a = pd.DataFrame(list(diff))
a.columns = ['from']
print('The average degree of the vertex is: ', (d.sum() / len(a.append(d)))[0])

The average degree of the vertex is:  5.735661642739591

In [128]:
b = pd.DataFrame(d.index)
b.columns = ['from']

In [130]:
d = df.groupby('to').count()
a = pd.DataFrame(list(diff))
a.columns = ['from']
verteces = a.append(b)

In [4]:
o = open('wiki-topcats-categories.txt', 'r')

In [5]:
categories = {}
for line in o :
    line = line.replace('\n','')
    l = line.split(' ')
    l[0] = l[0].replace('Category:', '').replace(';','')
    try:
        categories[l[0]] = list(map(int, l[1:]))
    except:
        pass

In [49]:
input_category = list(categories.keys())[1]
categories[input_category]

[1056,
 1057,
 1058,
 1059,
 1060,
 60971,
 76515,
 76871,
 78094,
 79069,
 79139,
 79143,
 80237,
 84108,
 84354,
 84740,
 85268,
 85767,
 89734,
 90171,
 95330,
 158412,
 166087,
 194583,
 196217,
 216650,
 216770,
 348758,
 350247,
 350259,
 350608,
 372883,
 377480,
 437692,
 449761,
 449809,
 454664,
 494420,
 499532,
 527094,
 537220,
 538870,
 540020,
 541169,
 544700,
 544701,
 544738,
 544888,
 546749,
 654238,
 669757,
 721089,
 721539,
 791902,
 799357,
 826926,
 827472,
 827479,
 830268,
 883273,
 919797,
 971629,
 979026,
 995033,
 998609,
 1011834,
 1033464,
 1043638,
 1043983,
 1047370,
 1112567,
 1142375,
 1143260,
 1170545,
 1178634,
 1194242,
 1260349,
 1284729,
 1287891,
 1287952,
 1342966,
 1343202,
 1385068,
 1390440,
 1445619,
 1470844,
 1472916,
 1499171,
 1506216,
 1516445,
 1525160,
 1525827,
 1527616,
 1565695,
 1568124,
 1610622,
 1646864,
 1653449,
 1667832,
 1715203,
 1779646,
 1780461,
 1781093]

In [87]:
class Dijkstra:

    def dijkstra(self, dic, dist):
        #print(node)
        node = list(dic.keys())[0]
        actual_dist = list(d.values())[0]
        l = []
        for i in list(DG[node]):
            try:
                if (i in self.visited):
                    if (self.visited[i][1] > dist):
                        self.visited[i][1] = dist
     
                if (self.unvisited[i] == -1):
                    del self.unvisited[i]
                    self.visited[i] = {self.actual_node:dist}
                l.append({i:dist})
            except:
                pass
                              
        for i in l:
            self.dijkstra(i, dist+1)
            
    
    
    def __init__(self, graph, categories, input_category):
        
        self.graph = graph
        self.nodes = categories
        self.initial = categories[input_category]
        self.unvisited = {}
        for i in graph.nodes:
            self.unvisited[i] = -1
        self.visited = {}
        
        for i in self.initial:
            try:
                self.actual_node = i
                self.visited[i] = {self.actual_node: 0}
                del self.unvisited[i]
                self.dijkstra({self.actual_node:0},1)
                self.same_node = False

            except:
                pass

In [86]:
d = {'ciao':1}
list(d.values())[0]

1

In [57]:
DG = nx.from_pandas_edgelist(df, 'from', 'to', create_using=nx.DiGraph )

In [88]:
dij =Dijkstra(DG, categories, input_category)

In [91]:
for i in dij.visited.values():
    if len(i) > 1:
        print (i)

In [291]:
list(list(DG.adjacency())[0][1].keys())

[401135, 1069112, 1163551]

In [32]:
set(list(DG[1565695])).intersection(set(categories[input_category]))

set()

In [31]:
categories[input_category]

[1056,
 1057,
 1058,
 1059,
 1060,
 60971,
 76515,
 76871,
 78094,
 79069,
 79139,
 79143,
 80237,
 84108,
 84354,
 84740,
 85268,
 85767,
 89734,
 90171,
 95330,
 158412,
 166087,
 194583,
 196217,
 216650,
 216770,
 348758,
 350247,
 350259,
 350608,
 372883,
 377480,
 437692,
 449761,
 449809,
 454664,
 494420,
 499532,
 527094,
 537220,
 538870,
 540020,
 541169,
 544700,
 544701,
 544738,
 544888,
 546749,
 654238,
 669757,
 721089,
 721539,
 791902,
 799357,
 826926,
 827472,
 827479,
 830268,
 883273,
 919797,
 971629,
 979026,
 995033,
 998609,
 1011834,
 1033464,
 1043638,
 1043983,
 1047370,
 1112567,
 1142375,
 1143260,
 1170545,
 1178634,
 1194242,
 1260349,
 1284729,
 1287891,
 1287952,
 1342966,
 1343202,
 1385068,
 1390440,
 1445619,
 1470844,
 1472916,
 1499171,
 1506216,
 1516445,
 1525160,
 1525827,
 1527616,
 1565695,
 1568124,
 1610622,
 1646864,
 1653449,
 1667832,
 1715203,
 1779646,
 1780461,
 1781093]